* {
    /*box-sizing:border-box;*/
}

.letterspace{
    letter-spacing: 2px;
}

.common{
    /*font: 1em/150% Helvetica, Arial, sans-serif;*/
}

.login-container{
    float:right;
    margin:1em;
}

.login-box{
    border-style: none none solid none;
    border-radius:5px 5px 0px 0px;  

}

.navbtn{
    float:right;
    border-style: none;
    background-color: rgba(242,242,242,0);
    letter-spacing: 3px;
    font-size: 12px;
}

.navbtn:hover{
 

}

.search-container{
    float:none;
    position:absolute;
    margin:0em;
    padding:0em;
    top:50%;
    left:40%;
    transform:translate(-50%,-50%);
}

.search-box{
    width:35em;
    height:3.4em;
    margin:0em;
    padding-left: 1em;
    border-style: none none solid none;
    border-radius:5px 0px 0px 0px;    
}

.search-box-white{
    background-color: white;
}

.search-box-grey{
    background-color: rgba(242,242,242,0.3);
}


.register-form{
    float:none;
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
}


.content{
    margin-top:20em;
}

.img-container {
    position: relative;
}

.topright {
    position: absolute;
    top: 8px;
    right: 0px;
    font-size: 12px;
    opacity:0.7;
    color:white;
    padding:0.5em;
    border-radius:0.3em;
    
    background:rgba(28,128,171,1);
}

.gallery {
    margin:10px;
    width: 200px;
    max-height:500px;
    float:left;
}

.gallery-content{
    border:1px solid #ccc;
}
.gallery-content:hover{
    border: 1px solid #777;
}


.gallery-content img{
    float:left;

    max-width:100%;
    height:auto;
}
.gallery-content-tag{
    padding:1em;
}

.gallery-content-title{
    padding:1em;
}
.desc{
    padding:1em;
    text-align:left;
}



.gallerybox{
    box-sizing:border-box;
}

/*Set style for single auction*/
.photo-content img{
    float:right;
    max-width:300px;
    max-height:500px;
}


.single-gallery-left{
    padding:10px;
    text-align:left;
}

.solidborder{
    border:1px solid #ccc;
}



/*Search button*/
.searchbtn{
    margin-left:-0.3em;
    border:0;
	      
    height:3.4em;
    width:3.4em;
    
    border-style: none none solid none;
  
    
    border-radius:0px 0px 5px 0px;
    background-color: rgba(0,0,0,0.8);
    color:white;


    text-align: center;
    font-size: 14px;
    text-decoration: none;

}

.searchbtn:hover {
    background-color: rgba(0,0,0,1);
    color: white; 
}

/*Search button*/
.searchlink{
 
    margin-left:-0.38em;
    padding:1.05em 1em 1.2em 1.2em;
    
    border-radius:0px 0px 5px 0px;
    background-color: rgba(0,0,0,0.8);
    color:white;
    
    font-size:14px;
    text-decoration: none;

}

.searchlink:hover {
    background-color: rgba(0,0,0,1);
    color: white; 
}


/*Category dropdown button*/
.catdropdown{
    float:right;
    height:3em;
    width:3em;

    border-style: none none solid none;
    padding: 0em;
    
    border-radius:0px 0px 0px 0px;
    background-color:  rgb(28,128,171);
    color:white;
    
    border-color:black;
    border-width:0.1em;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    display:inline-block;
}

.catdropdown:hover {
    background-color: white;
    color: black; 
}

.image{
    float:left;
}

.right {
    float:right;
}


.textcenter{
 
    margin: auto;
    width: 50%;
    border-radius:5px;
    border: 0.5px solid black;
    padding: 2em;
}


.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
}

.container-fluid {
    padding: 60px 50px;
}



.inline-block-child {
  display: inline-block;
}


.centerlize{
    float:none;
    position:absolute;
    padding: 100px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}


.container1 {
    float:none;
    width:100%;
    height:100;
     margin: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
     
}

.user-container {
    margin-left:4em;
 
}


div.user-container ul{
    
     border-style:solid;
     /*border-color:rgba(242,242,242,0.3);*/
     border-color:rgb(28,128,171);
     border-width:0.1em;
     border-radius:0em 0.5em 0.5em 0.5em;   
}

div.user-container li{
    width:500px;
    padding:0.5em;
 
    font-size:14px;
    border-color:rgb(28,128,171); 
    border-style:none none solid none;
    border-width:0.1em;
}

.center1{
    position:absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
 
}

img.rightalign {
    display: block;
    margin-right: auto;
}

img.leftalign {
    display: block;
    margin-left: auto;
}


div.leftalign{
    text-align: left;
}

div.rightalign{
    text-align: right;
}



.dropdown{
    position: relative;
   
}

/* Dropdown Button */
.dropdownbtn{
    width:auto;
    height:3.4em;
    
    
    border:0;
    border-radius:0;
    border-style:none;
 
    background-color:rgba(28,128,171,0.8);
    text-align: center;
    color: white;
    font-size: 14px;
    display:inline;
    text-decoration: none;

}
.dropdownbtn:hover{
    background-color:rgba(28,128,171,1);
    color: white;
}

/* Dropdown button on hover & focus */
.dropdownbtn:focus {
   
    background-color: #2980B9;
}

.CatTagL{
    margin-left:-0.3em
}
.CatTag{
    margin-right:-0.3em;
}

/* The container <div> - needed to position the dropdown content */
.floatright {
    float:right;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content li{
    margin:0em;
    color: black;
    padding:3px 3px 3px 2px;
    text-decoration: none;
    display: block;
}

.dropdown-content ul{
    list-style-type:none;		
    padding:3px 5px 3px 10px;
}
/* Change color of dropdown links on hover */
.dropdown-content li:hover {
    cursor: pointer;
    background-color: #ddd;
    color:rgb(28,128,171);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

tr.space ,td.space ,th.space{
   border: 1px solid #999;
  padding: 0.5rem;
}


.btnlink2{
    border-style: none;
    background-color: white;
    padding:0;
    margin:0;
    color: rgb(28,128,171);
    letter-spacing: 2px;
    font-size: 14px;
}

.btnlink2:hover{
    background-color: #ddd;
    text-decoration: underline;
    text-decoration-color: rgb(28,128,171);
}



.btnlink{
    border-style: none;
    background-color: white;
    color: rgb(28,128,171);
    letter-spacing: 2px;
    font-size: 12px;
}



.btnlink:hover{
    text-decoration: underline;
    text-decoration-color: rgb(28,128,171);
}

#bidHist {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: none; /*Bid History Hidden Default*/
}

#bidHist td, #bidHist th {
    border: 1px solid #ddd;
    padding: 8px;
}

#bidHist tr:nth-child(even){background-color: #f2f2f2;}

/*#bidHist tr:hover {background-color: #ddd;}*/

#bidHist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(28,128,171);
    color: white;
}

.heading{
    float:left;
    margin: 0em 0em 0em 2em;
    color:rgb(50,50,50);
    border-style: none;
    letter-spacing: 5px;
}
